<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IsDarkTheme" value="True" />
		<add key="Color" value="#FF0000FF"/>
		<add key="IsRemember" value="True" />
		<add key="IsAutoLogin" value="False" />
		<add key="Account" value="39desu"/>
		<add key="Password" value="000831"/>
		<add key="JWTToken" value="eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6IjZiYTkxNWUxLTYzNWUtNDE0Zi04OGQzLTYxZjA0NjkyMThmMiIsImh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwOC8wNi9pZGVudGl0eS9jbGFpbXMvcm9sZSI6WyJVc2VyIiwiQWRtaW4iXSwiZXhwIjoxNzMyNjc4ODk0LCJpc3MiOiJNeUlzc3VlciIsImF1ZCI6Ik15QXVkaWVuY2UifQ.UFmmpbcpvuTdtWSFqQyhHRZx3ODPu8lR-yaQlrgUNJE"/>
	</appSettings>
</configuration>